<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>KSSB Menu</title>
	</head>
	<body>
		<h1>KSSB Menu API</h1>
		<p>Welcome to this thing.<br>
		It is really, really basic.<br></p>
		<h2>Available Endpoints</h2>
		<ul>
			<li>/api/get_raw: Returns a dictionary of the entire menu. Each key represents an indevidual day. Note that you cannot yet get lunch, for example, unless you split by I.E. "Lunch: <lunch>\n". This may get fixed at some point...</li>
			<li>/api/get: If you supply a day, it will return the string of that day. If the day is not provided or there is no menu for that day, it will return "Wrong day".</li>
		</ul>
	</body>
</html>